* {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

header {
  margin-bottom: 16rem;
}

body {
  min-width: 350px;
}

.box {
  margin: 0 0 8rem 0;
}

input {
  outline: none;
  padding: 1rem;
  border: solid;
  border-radius: 12rem;
  margin: 1rem 0 1rem 0;
  text-align: start;
}

#input-section p {
  user-select: none;
  font-size: small;
  text-decoration: underline;
  margin: auto;
  margin-top: 6rem;
  width: fit-content;
}

#input-section p:hover {
  color: gray;
  cursor: pointer;
}

#validate {
  margin-bottom: 8rem;
}

#validate:hover {
  cursor: pointer;
  background: white;
  color: black;
}

#alert {
  line-height: 2rem;
  font-size: small;
}

footer {
  margin: auto;
  margin-top: 20%;
  font-size: x-small;
  bottom: 0;
}

@media screen and (max-width: 600px) and (max-height: 1000px) {
  header {
    margin-bottom: 6rem;
  }

  #title {
    font-size: x-large;
  }

  #validate {
    margin-bottom: 4rem;
  }

  #input-section p {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 300px) and (max-height: 700px) {
  .box {
    margin-top: 10rem;
  }

  #e-mail, #password {
    width: 14rem;
  }

  footer {
    font-size: 0.5rem;
  }
}