* {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

header {
  margin-bottom: 16rem;
}

body {
  min-width: 350px;
}

.box {
  margin: 0 0 8rem 0;
}

#input-section p {
  user-select: none;
  font-size: small;
  text-decoration: underline;
  margin-top: 6rem;
}

#input-section p:hover {
  color: gray;
  cursor: pointer;
}

input {
  border-color: rgb(0, 0, 0);
  outline: none;
  padding: 1rem;
  border: solid;
  border-radius: 12rem;
  border-color: white;
  color: white;
  margin: 1rem 0 1rem 0;
  text-align: start;
}

#validate {
  margin-bottom: 8rem;
}

#validate:hover {
  cursor: pointer;
  background: white;
  color: black;
}

#alert {
  line-height: 2rem;
  font-size: small;
}

footer {
  margin: auto;
  margin-top: 17%;
  font-size: x-small;
}

@media screen and (max-width: 300px) and (max-height: 700px) {
  .box {
    margin-top: 10rem;
  }

  #e-mail, #password {
    width: 14rem;
  }

  footer {
    font-size: 0.5rem;
  }
}