* {
  text-align: center;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
}

header {
  margin-bottom: 16rem;
  text-shadow: 12px 12px 10px black;
  font-size: x-large;
}

body {
  min-width: auto;
  background: linear-gradient(to right, #b92b27, #1565c0);
}

.box {
  margin: 0 0 4rem 0;
}

form, input, label {
  background: white;
  font-size: large;
}

form {
  width: fit-content;
  margin: auto;
  margin-bottom: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 8px 10px 16px black;
}

input, label, #input-section p:hover, #validate:hover, a:hover, a:focus {
  color: black;
}

input {
  outline: none;
  padding: 1rem;
  border: solid;
  border-radius: 12rem;
  margin: 1rem 0 1rem 0;
  text-align: start;
}

#input-section p, #alert {
  font-size: large;
}

#input-section p, #validate, a {
  transition: all 0.3s;
}

#input-section p {
  user-select: none;
  text-decoration: underline;
  margin: auto;
  margin-top: 4rem;
  width: fit-content;
}

#input-section p:hover, #validate:hover, #show-password:hover, label {
  cursor: pointer;
}

#validate {
  margin-bottom: 1rem;
}

#validate:hover {
  color: white;
  background: black;
  box-shadow: 10px 10px 20px black;
}

#alert {
  line-height: 2rem;
}

#input-section h1 {
  margin-top: 18rem;
}

footer {
  font-size: small;
}

@media screen and (max-width: 600px) and (max-height: 1000px) {
  header {
    margin-bottom: 4rem;
    font-size: medium;
  }

  form {
    width: min-content;
    margin-bottom: 2rem;
  }

  #e-mail, #password, #username {
    width: 12rem;
  }

  #input-section h1 {
    font-size: large;
  }

  #input-section p {
    margin-top: 2rem;
  }
}