* {
  color: white;
  font-family: 'Balsamiq Sans', cursive;
}

header, .box, form, footer {
  display: flex;
  justify-content: center;
}

header {
  margin-bottom: 13rem;
  text-shadow: 12px 12px 10px black;
  font-size: x-large;
}

body {
  min-width: fit-content;
  background: linear-gradient(to right, #b92b27, #1565c0);
}

.box {
  flex-direction: column;
  align-items: center;
  margin: 0 0 3rem 0;
}

form, input, label {
  background: white;
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 8px 10px 16px black;
  animation: fade 500ms;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

input, label, #input-section p:hover, #validate:hover, a:hover, a:focus {
  color: black;
}

input {
  outline: none;
  padding: 1rem;
  border: solid;
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
}

#input-section p, #alert {
  font-size: large;
}

#input-section p, #validate, a {
  transition: all 0.3s;
}

#input-section p {
  user-select: none;
  text-decoration: underline;
}

#input-section p:hover, #validate:hover, #show-password:hover, label {
  cursor: pointer;
}

#validate:hover {
  color: white;
  background: black;
  box-shadow: 10px 10px 20px dimgray;
}

#alert {
  line-height: 2rem;
  text-align: center;
}

footer {
  font-size: small;
}

@media screen and (max-width: 600px) and (max-height: 1000px) {
  header {
    margin-bottom: 2rem;
    font-size: medium;
  }

  #input-section h1 {
    font-size: large;
  }
}