* {
  text-align: center;
  background: rgb(65, 146, 135);
  color: white;
  font-family: 'Press Start 2P', cursive;
}

header {
  margin-bottom: 16rem;
}

body {
  min-width: 350px;
}

.box {
  margin: 0 0 4rem 0;
}

input {
  outline: none;
  padding: 1rem;
  border: solid;
  border-radius: 12rem;
  margin: 1rem 0 1rem 0;
  text-align: start;
}

input::placeholder {
  color: white;
}

#input-section p {
  user-select: none;
  font-size: small;
  text-decoration: underline;
  margin: auto;
  margin-top: 4rem;
  width: fit-content;
}

#input-section p:hover {
  color: black;
  cursor: pointer;
}

label {
  font-size: small;
}

#validate {
  margin-bottom: 4rem;
}

#validate:hover {
  cursor: pointer;
  background: white;
  color: black;
}

#alert {
  line-height: 2rem;
  font-size: small;
}

footer {
  font-size: x-small;
}

a:hover, a:focus {
  color: black;
}

@media screen and (max-width: 600px) and (max-height: 1000px) {
  header {
    margin-bottom: 8rem;
    font-size: small;
  }

  #validate {
    margin-bottom: 2rem;
  }

  #input-section p {
    margin-top: 2rem;
  }
}